{% extends "base.html" %} 

{% load static %}

{% block content %}

<!-- portfolio_details_banner_start  -->
<div class="portfolio_details_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="details_info ">
                    <form method="POST">
                        <div class="text-center mb-3">
                            <img src="{{ user_profile.profile_image.url }}" width="200" height="200" class="rounded-circle" alt="user profile picture">
                            <input type="file" class="text-light" name="image_upload" accept="image/*">
                        </div>
                        <div class="row">
                            <span class="wow fadeInDown col-md-6" data-wow-duration="1s" data-wow-delay=".3s">{{ form.first_name}}</span>
                            <span class="wow fadeInDown col-md-6" data-wow-duration="1s" data-wow-delay=".3s">{{ form.last_name}}</span>
                        </div>
                        <div class="text-center my-4">
                            <p class="bio">{{ form.bio }}</p>
                        </div>
                        
                        <div class="details_links d-flex justify-content-between align-items-center">
                            <div class="single_details single_input wow fadeInUp mr-3" data-wow-duration="1s" data-wow-delay=".3s">
                                <span>Dev name</span>
                                <h4>{{ form.dev_name }}</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp mr-3" data-wow-duration="1s" data-wow-delay=".4s">
                                <span>Email</span>
                                <h4>{{ form.email }}</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp mr-3" data-wow-duration="1s" data-wow-delay=".5s">
                                <span>Gender</span>
                                <h4>{{ form.gender }}</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp mr-2" data-wow-duration="1s" data-wow-delay=".6s">
                                <span>Location</span>
                                <h4>{{ form.location }}</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp col-md-2" data-wow-duration="1s" data-wow-delay=".7s">
                                <span>Social media links</span>
                                <div class="social_links">
                                    <ul>
                                        {% for field in social_form %}
                                        <li class="mb-2 mr-2">{{ field }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                <span>Occupation</span>
                                <h4>{{ form.occupation }}</h4>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- portfolio_details_banner_end  -->

<div class="portfolio_details_wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                {% comment %} <div class="banner wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <img src="{% static 'images/img/portfolio_details/details_banner.png' %}" alt="">
                </div> {% endcomment %}
                <div class="details_text">
                    <div class="row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="card border-success bg-transparent" style="width: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-light">Stack</h5>
                                    <div class="js-stack-container">
                                        {% if user_profile.stack.all %}
                                            {% for stack in user_profile.stack.all %}
                                            <span class="card-text js-stac-{{stack.id}} badge badge-info mb-3 mr-2 p-2" data-stack-id="{{stack.id}}">{{ stack }}</span>
                                            {% endfor %}
                                        {% else %}
                                        <p class="card-text">None</p>
                                        {% endif %}
                                    </div>  
                                    <input type="text" class="form-control js-stack js-choice">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="card float-right border-success bg-transparent" style="width: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-light">Currently Learning</h5>
                                    <p class="card-text">{{ form.currently_learning }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="thumbs">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                <p>check</p>
                                <img src="{% static 'images/img/portfolio_details/1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                                <p>check</p>
                                <img src="{% static 'images/img/portfolio_details/2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5 px-5 text-center">
    <!-- <form method="POST" action="">
        <div class="form-row">
            <div class="col-md-6 offset-3">
                <textarea class="form-control border-secondary" 
                placeholder="What did you do today? Hint: (keep it short. If it needs to be very long and descriptive, then you can go to the blog section and write a blog about it instead)" 
                rows="4"
                name="daily_activity"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-4">Post</button>
    </form> -->
   
    <h2 class="text-dark my-3">Daily Activities Posted So Far</h2>
    <div class="row">
        <div class="col-md-8 offset-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            {% if profile_activities %}
                {% for profile_activity in profile_activities %}
                <article class="blog_item">
                    <div class="blog_details">
                        <span class="mb-3">
                            <img src="{{ user_profile.profile_image.url }}" width="20" height="20" alt="">  
                            {% if user_profile.dev_name %}
                                @{{ user_profile.dev_name }}
                            {% else %}
                                @{{ user_profile.user.username }}
                            {% endif %}
                        </span>
                        <div class="text-center">
                            <h2 class="d-inline-block" href="single-blog.html">
                                What did you do today?
                            </h2>
                        </div>
                        <p class="text-dark">
                            {{ profile_activity.activity_post }}
                        </p>
                        <ul class="blog-info-link">
                            <li>
                                <a href="#"
                                    ><i class="fa fa-comments"></i> 03
                                    Comments</a
                                >
                            </li>
                            <li>
                                <span>Posted on {{ profile_activity.created }}</span>
                            </li>
                            <li>
                                <span>Updated on {{ profile_activity.updated }}</span>
                            </li>
                        </ul>
                    </div>
                </article>
                {% endfor %}
            {% else %}
                <h1>No activity posts to show</h1>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}