{% extends "base.html" %} 

{% load static %}

{% block content %}

<!-- portfolio_details_banner_start  -->
<div class="portfolio_details_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="details_info ">
                    <div class="text-center">
                        <img src="{{ user.profile.profile_image.url }}" width="200" height="200" class="rounded-circle" alt="user profile picture">
                    </div>
                    <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">{{ user.profile.official_name }}</h3>
                    {% if user.profile.bio %}
                    <div class="text-center mt-3 mb-5">
                        <p class="bio">{{ user.profile.bio }}</p>
                    </div>
                    {% else %}
                    <div class="text-center mt-3 mb-5">
                        <p class="bio text-danger">A professional procrastinator</p>
                    </div>
                    {% endif %}
                    <div class="details_links d-flex justify-content-between align-items-center">
                        {% if user.profile.dev_name %}
                        <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <span>Dev name</span>
                            <h4>{{ user.profile.dev_name }}</h4>
                        </div>
                        {% endif %}
                        <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <span>Email</span>
                            <h4>{{ user.profile.email }}</h4>
                        </div>
                        <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <span>Gender</span>
                            <h4>{{ user.profile.gender }}</h4>
                        </div>
                        {% if user.profile.location %}
                        <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <span>Location</span>
                            <h4>{{ user.profile.location }}</h4>
                        </div>
                        {% else %}
                        <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <span>Location</span>
                            <h4>Earth</h4>
                        </div>
                        {% endif %}
                        {% if user.profile.social_set %}
                        <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                            <span>Social media links</span>
                            <div class="social_links">
                                <ul>
                                    {% for social in user.profile.social_set.all %}
                                        {% if social.github_url %}
                                        <li><a href="#"> <i class="fa fa-github"></i> </a></li>
                                        {% endif %}
                                        {% if social.linkedin_url %}
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li> 
                                        {% endif %}
                                        {% if social.facebook_url %}
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        {% endif %}
                                        {% if social.instagram_url %}
                                        <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                        {% endif %}
                                        {% if social.youtube_url %}
                                        <li><a href="#"> <i class="fa fa-youtube"></i> </a></li>
                                        {% endif %}
                                        {% if social.x_url %}
                                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.profile.occupation %}
                        <div class="single_details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                            <div>
                                <p class="boxed-btn3">{{ user.profile.occupation }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- portfolio_details_banner_end  -->

<div class="portfolio_details_wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="banner wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <p>check</p>
                    {% comment %} <img src="{% static 'images/img/portfolio_details/details_banner.png' %}" alt=""> {% endcomment %}
                </div>
                <div class="details_text">
                    <div class="row">
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <p>A wonderful serenity has taken to the possession of my entire soul network infrastructure, including consolidation of established network designed and created infrastructure. Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <p>A wonderful serenity has taken to the possession of my entire soul network infrastructure, including consolidation of established network designed and created infrastructure.</p>
                        </div>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                <p>check</p>
                                {% comment %} <img src="{% static 'images/img/portfolio_details/1.png' %}" alt=""> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                                <p>check</p>
                                {% comment %} <img src="{% static 'images/img/portfolio_details/2.png' %}" alt=""> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}